@font-face {
  font-family: 'Helvetica';
  font-weight: 'bold';
  src: url(fonts/HelveticaNeueCyr-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica';
  font-weight: 300;
  src: url(fonts/HelveticaNeueCyr-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Helvetica';
  font-weight: 500;
  src: url(fonts/HelveticaNeueCyr-Medium.otf) format('opentype');
}
