@import "reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  width: 100vw;
  overflow: hidden;
}

h1,
p {
  color: #FF00A8;
  font-family: 'Helvetica';
}
h1 {
  font-size: 21.25vw;
  font-weight: bold;
  line-height: 89.9%;
  margin-bottom: 65vw;
}
.cover p {
  font-size: 4.928vw;
  font-weight: 300;
  margin-bottom: 4.6875vw;
}
.cover .cover_bttm-text p {
  font-size: 8.125vw;
  font-weight: 500;
  margin-bottom: 1vw;
}
.cover .cover_bttm-text p:nth-of-type(3) {
  font-size: 8.125vw;
  font-weight: 500;
  margin-bottom: 0vw;
}
.cover {
  width: 100vw;
  padding: 9.375vw 10vw 10.9375vw;
  height: 177.5vw;
  background: #00FF38;
  border: 1.5625vw solid #9C00FF;
}

img {
  position: absolute;
}
.cover img:nth-of-type(1) {
  height: 65.2vw;
  top: 73vw;
  left: 66.25vw;
}
.cover img:nth-of-type(2) {
  height: 71vw;
  top: 72vw;
  left: -20.75vw;
  transform: rotate(-35deg);
}
.cover img:nth-of-type(3) {
  height: 85.625vw;
  top: 3vw;
  left: 5.25vw;
  transform: rotate(45deg);
}

.road {
  height: 410.5vw;
  top: 3vw;
  left: 5.25vw;
}


@media (min-width: 768px){

}
